<div id="error_message">{{errorMessage}}</div>
<h1>{{username}}</h1>
{{#if github_name}}
    <div>github repos for "{{github_name}}"</div>
    <ul>
        {{#each repo in github_repos}}
            <li>{{repo.full_name}}, {{repo.forks_count}} forks</li>
        {{/each}}
    </ul>
{{else}}
    <button {{action "authenticateGithub"}} class="btn">Add Github Account</button>
{{/if}}