<div id="error_message">{{errorMessage}}</div>
<h1>{{App.AuthManager.username}}</h1>
<h2>{{github_user}}</h2>
{{#if github_user}}
    <div>github repos for "{{github_user}}"</div>
    <ul>
        {{#each repo in github_repos}}
            <li>{{repo.full_name}}, {{repo.forks_count}} forks</li>
        {{/each}}
    </ul>
{{else}}
    <button {{action "authenticateGithub"}} class="btn">Add Github Account</button>
{{/if}}